:root {
	--black: #121214;
	--dark-gray: #212025;
	--white: #FFFFFF;
	--text: #E1E1E6;
	--purple: #9466FF;
	--vue: #04D361;
	--red: #ec5453;
	--npurple: #373238;
	--yellow: #f9bf3f;
	--synth-purple: #F222FF;
	--synth-blue: #011EFE;
    --discord: #5865F2;
    --gold: #af9500;
    --silver: #d7d7d7;
    --bronze: #6a3805;
    --synth: #ff248a;
}

body,
.dropdown-menu,
input {
    background: var(--black) !important;
    font-family: 'DM Sans', sans-serif;
}

.bg-black {
    background: var(--dark-gray);
}

.btn-vue {
    background-color: var(--vue);
    border: solid 1px var(--vue);
}

.btn-purple {
    background-color: var(--purple);
    border: solid 1px var(--purple);
}

.text-vue,
.text-vue:hover {
    color: var(--vue);
    text-decoration: none;
}

.text-synth,
.text-synth:hover {
    color: var(--synth);
    text-decoration: none;
}

.text-purple,
.text-purple:hover {
    color: var(--purple);
    text-decoration: none;
}

.form-control {
    border: solid 2px var(--purple) !important;
    outline: none !important;
    box-shadow: none !important;
}

.card, .card-header, .card-body {
    border-bottom: none;
    background-color: var(--dark-gray);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
}

.bg-gray {
    background-color: var(--dark-gray);
    color: var(--text);
}

.border-bottom-purple {
    border-bottom: 1px solid #9466FF !important;
}

.progress-bar {
    background-color: var(--vue);
    border: solid 1px var(--vue);
}

.text {
    color: var(--text);
}

.text-discord {
    color: var(--discord);
}

a {
    text-decoration: none !important;
}

table > thead,
table > tbody {
    color: var(--text);
}

.trophy-gold {
    color: var(--gold);
}

.trophy-silver {
    color: var(--silver);
}

.trophy-bronze {
    color: var(--bronze);
}

.border-card {
    border-top: solid 4px var(--purple);
}

i {
    cursor: pointer;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.media-block .media-left {
    display: block;
    float: left;
    margin-right: 15px;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}

.time {
    font-size: 9px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}

.feed-image img {
    width: 100%;
    height: auto
}

.btn-actions:hover,
.text-actions:hover {
    color: inherit;

}
